.input{
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    display: block;
    width: 100%;
}

.input::placeholder{
    color: #fff;
}

